@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
html,
body {
    padding: 0;
    margin: 0;
    background-color: #FFB81C;
    text-align: center;
    font-family: Optima;
    font-size: 22px;
}

a {
    color: inherit;
    text-decoration: none;
}

p, option, button, select, input {
    font-size: 22px;
}


* {
    box-sizing: border-box;
}

h1 {
    padding-top: 1em;
    text-align: center;
    color: #003DA5;
    font-size: 40px;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}


/* TABLE */

#tableheader {
    background-color: black;
    color: white;
    border: white;
    font-style: inherit;
}

.resultRow {
    background-color: #003DA5;
    color: white;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    padding: 5px;
    height: 10px;
    table-layout: auto;
}

input {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

th {
    height: 10px;
    width: 200px;
}


/* NAV */

nav {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    border-bottom: 1px solid #003DA5;
    padding-bottom: 2em;
}

#leftBar {
    color: #003DA5;
    font-size: 20px;
    padding-left: 0cm;
}

nav ul li {
    font-size: 17px;
    display: inline;
    padding: 7px;
    /* border-left:1px;  */
}